In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('./black-friday/test.csv')
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

In [19]:
#0). Сколько всего возрастных категорий?
print(f"Вот столько возрастных категорий : {len(set(data['Age']))} шт")
print(f"Вот такие возрастные категории присутствуют : {set(data['Age'])}")

Вот столько возрастных категорий : 7 шт
Вот такие возрастные категории присутствуют : {'0-17', '55+', '46-50', '51-55', '26-35', '36-45', '18-25'}

In [18]:
#1). Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)
print(f"Вот столько строк с мужчинами из категории города A : {len(data[(data['Gender'] == 'M') & (data['City_Category'] == 'A')])}")

Вот столько строк с мужчинами из категории города A : 47208

In [37]:
#2). Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)? (речь не об уникальных ID, а о количестве строк)
#Purchase нет, поэтому исследуем Occupation > 10
print(f"Вот столько женщин от 46 до 50 с Occupation >10 : {len( data[ (data['Occupation'] > 10) & (data['Age'] == '46-50') ])}")

Вот столько женщин от 46 до 50 с Occupation >10 : 8148

In [33]:
#3). Сколько NaN'ов в столбце Product_Category_3?
print(f"Вот столько NaN'ов в столбце Product_Category_3 : {len(data['Product_Category_3'] == 'NaN')}")

Вот столько NaN'ов в столбце Product_Category_3 : 233599

In [ ]:
#4). Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют 
#ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных 
#категорий)? (речь не об уникальных ID, а о количестве таких строк)

round( len(data[ data['Gender'] == 'M' & data[] ])